<nav aria-label="breadcrumb" class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-cover">
            <ul>
                <li><a href="">Тотус Авто</a></li>
                <span class="span-space">/</span>
                <li><a href="">Запчасти</a></li>
                <span class="span-space">/</span>

                <li><span aria-current="current-page" class="current-page">Тормозная система и трансмиссия</span></li>
            </ul>
        </div>

    </div>
</nav>
