:root {
  --color-text: #000000;
  --color-black-text:  #979797;
  --color-black-bg: #333333;
  --color-accent: #EB5757;
  --color-accent-hover:  #ea4848;
  --color-blue: #2F80ED;
  --color-blue-hover:  #105bbc;
  --color-green:  #219653;

}

$container:1328px;
$widthMac: 1600px;
$widthSpc: 1199.98px;
$widthTablet: 991.98px;
$widthTabletM: 769px;
$widthm: 649.98px;


